# **Módulo 46 - Introducción a las Series de Tiempo**

En este módulo, nos adentraremos en el fascinante mundo de las series de tiempo, con un enfoque especial en el análisis y visualización de datos financieros. Aprenderemos a manejar y analizar conjuntos de datos ordenados cronológicamente, esenciales para comprender el comportamiento del mercado de valores.

- **Componentes de una Serie Temporal**

Exploraremos los elementos fundamentales de una serie tempora, como la tendencia, estacionalidad, ciclos y ruido. Comprenderemos cómo estos componentes afectan el análisis de datos y cómo identificar patrones subyacentes.

- **Visualización de Datos Financieros**

Aprenderemos a utilizar técnicas avanzadas de visualización, como gráficos OHLC y velas japonesas, para analizar el sentimiento del mercado y predecir cambios de precios. Estas herramientas nos permitirán representar detalladamente las fluctuaciones diarias de precios.

- **Predicción con Medias Móviles**

Introduciremos la técnica de predicción mediante medias móviles, que utiliza promedios de datos pasados para prever valores futuros. Evaluaremos la precisión de nuestras predicciones utilizando métricas como RMSE y MAPE.

____
# **Series de Tiempo**

Una serie de tiempo es un conjunto de puntos ordenados con relación al tiempo.

Los puntos de una serie de tiempo están ordenados en unidades equidistantes de tiempo. Por ejemplo, una serie diaria de precios, un conjunto mensual de tasas de préstamo.

Las series de tiempo se visualizan con una gráfica llamada de la misma forma, que no es más que una gráfica de líneas donde el eje 'X' corresponde al eje temporal.

## **Componentes de una Serie de Tiempo**

- **Tendencia** - Componente de base que indica si la serie es ascendente o descendiente. Es un componente de largo plazo, menos abrupto en su movimiento.

- **Estacionalidad** - Ciclos repetitivos en la serie, identificados por patrones en su comportamiento. Por ejemplo, altas ventas en mayo, diciembre.

- **Componente Cíclico** - Es la parte de lse serie de tiempo que puede ser explicada por movimientos cíclicos en otras variables de base (sistemáticas), como la economía.

- **Ruido** - Variación aleatoria en la serie de tiempo. No puede ser explicada por movimientos de base o patrones.

- **Residuo** - Usado en procesos de *fit* de series de tiempo, el residuo es lo que queda al final del proceso. Es la diferencia entre la predicción y lo observado.

- **Nivel** - El valor promedio de una serie de tiempo.
____

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import os

In [4]:
df = pd.read_csv(r'C:\Users\danielortega\OneDrive - HOTELERA YALKUITO SA DE CV\Desktop\No Borrar Daniel\30 Data Analyst - Curso\52_Módulo_46_Series_de_Tiempo\Modulo_46_Series_de_Tiempo\Analista de datos AAPL_2006-01-01_to_2018-01-01_M30.csv', index_col='Date', parse_dates=['Date'])

df.sample(5)

              Open    High     Low   Close     Volume  Name
Date
2010-05-17   36.39   36.60   35.39   36.32  190708252  AAPL
2014-09-09   99.08  103.08   96.14   97.99  189846255  AAPL
2011-05-04   49.75   50.26   49.55   49.94   97312229  AAPL
2015-12-24  109.00  109.00  107.95  108.03   13596680  AAPL
2016-06-28   92.90   93.66   92.14   93.59   40444914  AAPL